@model UserProfileCommand
@{
    ViewData["Title"] = "پروفایل";
    Layout = "_UserAccountLayout";
    if (Model.Message == ApplicationMessages.SentConfirmationEmail || Model.Message == ApplicationMessages.EmailConfirmed)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی الکترون شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
    else if (Model.Message == ApplicationMessages.RequestedInfoNotFound)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی الکترون شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div class="col-lg-3 col-md-4 col-xs-12 pull-right">
    <div class="sidebar-wrapper">
        <div class="box-sidebar">
            <div class="profile-box">
                <div class="profile-box-avator">
                    @{
                        if (Model.UserAccount.ProfilePhoto != null)
                        {
                            <img src="~/Pictures/@Model.UserAccount.ProfilePhoto" alt="Profile" title="Profile">
                        }
                        else
                        {
                            <img src="~/Theme/assets/images/svg/user-profile.svg" alt="Profile" title="Profile">
                        }
                    }
                </div>
                <div class="profile-box-content">
                    <span class="profile-box-nameuser">@Model.UserAccount.FullName</span>
                    <span class="profile-box-phone">@Model.UserAccount.PhoneNumber</span>
                </div>
            </div>
            <ul class="profile-menu-items">
                <li>
                    <a asp-controller="UserProfile" asp-action="Index" class="profile-menu-url active-profile">
                        <span class="mdi mdi-account-outline"></span>پروفایل
                    </a>
                </li>
                <li>
                    <a asp-controller="UserProfile" asp-action="Orders" class="profile-menu-url">
                        <span class="mdi mdi-basket"></span>سفارشات
                    </a>
                </li>
                <li>
                    <a asp-controller="UserAccount" asp-action="SignOut" class="profile-menu-url">
                        <span class="mdi mdi-power"></span>خروج
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>اطلاعات شخصی</span>
        </div>
        <div class="profile-stats">
            <div class="profile-stats-row">
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span> نام و نام خانوادگی :</span>
                            @Model.UserAccount.FullName
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span> نام کاربری :</span>
                            @Model.UserAccount.UserName
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span>ایمیل :</span>
                            @Model.UserAccount.Email
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span>شماره موبایل :</span>
                            @Model.UserAccount.PhoneNumber
                        </p>
                    </div>
                </div>
                <form method="post">
                    <div class="col-lg-12 col-md-12 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p>
                                <span>وضعیت ایمیل :</span>
                                @{
                                    if (Model.UserAccount.EmailConfirmed)
                                    {
                                        <i class="fa fa-check" style="color:green"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-close" style="color:red"></i>
                                        <br />
                                        <button type="submit" class="btn btn-success">ارسال ایمیل فعال سازی</button>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </form>
                <div class="profile-stats-action">
                    <a asp-controller="UserProfile" asp-action="Edit" class="link-spoiler-edit">
                        <i class="fa fa-pencil"></i>ویرایش اطلاعات شخصی
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
